.Contact-container
{
    display: block;
    width: fit-content;
    height: fit-content;
}
.Contact-main-header
{
    width: 43%;
    height: 57%;
    position: relative;
    left: 77px;
    background-color: #ececec;
    margin-top: 45px;
}
.Contact-grid
{
    display: grid;
    grid-template-columns: 180px 180px 180px;
    border: 0px solid #ececec;
    border-radius: 5px;
}
.Contact-grid>div
{
    border: 1px solid #393e46;
    border-radius: 5px;
    padding: 1em;
}
.Contact-main-h1
{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 70px;
    color: #ffa800;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
.Contact-main-h2
{
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #0b2f44;
}
.Contact-right-section
{
    position: relative;
    left: 50%;
    bottom: 527px;
    width: 50%;
    border-top: 50px solid #1e8fd0;
    border-right: 50px solid #1e8fd0;
    border-bottom: 50px solid #1e8fd0;
}
.Contact-right-section-inside-border
{
    width: 20%;
    height: 88vh;
}
.clientright1
{
    width: 90%;
    position: relative;
    top: 15px;
    left: 25px;
    padding: 13px;
}
.clientright2{
    width: 90%;
    position: relative;
    top: 3px;
    left: 25px;
    padding: 12px;
}
.clientright3
{
    width: 78%;
    position: relative;
    top: 4px;
    left: 32px;
    padding: 5px;
}
.client-right-logo
{
    position: relative;
    width: 40%;
    height: 60%;
    left: 180px;
    bottom: 290px;
}
.clientright-summary
{
    position: relative;
    left: 190px;
    bottom: 250px;
    width: 296%;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
}
.clientright-h1
{
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: 30px;
    font-family: 'Sacramento', cursive;
    font-style: italic;
    color: #0b2f44;
    transform: rotate(deg);
}
.clientright-h2
{
    font-size: 13px;
    font-weight:700;
    color: #ffa800;
    position: relative;
    top: 40px;
}